<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <globalization culture="auto" uiCulture="auto" />
    <httpModules>
      <add name="HttpMethodModule" type="Zata.Web.HttpMethodModule,Zata" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <add name="HttpMethodModule" type="Zata.Web.HttpMethodModule,Zata" />
    </modules>
  </system.webServer>
</configuration>